SERVER_PORT=3000
VITE_SERVER_BASE_URL="http://localhost:${SERVER_PORT}"
JWT_ACCESS_SECRET=yourVariable

DB_USER=yourVariable
DB_PASSWORD=yourVariable
DB_NAME=yourVariable
DB_PORT=5432
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"
POSTGRES_URL="postgresql://${DB_USER}:${DB_PASSWORD}@postgres:${DB_PORT}/${DB_NAME}"

SUPERTOKENS_PORT=3567
SUPERTOKENS_CONNECTION_URI="http://localhost:${SUPERTOKENS_PORT}"

WEB_PORT=5173
VITE_WEB_BASE_URL="http://localhost:${WEB_PORT}"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

